body {
    background-color: lightgray;
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    justify-content: center;
}

.navbar {
    font-family: 'Red Hat Display', sans-serif;
}

.jumbotron-override {
    background-image: url(https://res.cloudinary.com/dtybx6nov/image/upload/v1600225426/kym-mackinnon-KrrVNx8R640-unsplash_xrhzru.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 60px;
    padding-bottom: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: .3rem;
    color: white;
    text-align: center;
    font-size: 100px;
    font-family: 'Red Hat Display', sans-serif;
}

#about-me {
    background-color: darkgray;
    font-family: 'Red Hat Display', sans-serif;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profilephoto {
    width: 25%;
    height: 25%;
    padding-bottom: 25px;
    border-radius: 5%;
}

#previous-works {
    background-color: lightgray;
    font-family: 'Red Hat Display', sans-serif;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    text-align: center;
}

.container {
    font-family: 'Red Hat Display', sans-serif;
    float: center;
    /* width: 33.33%; */
    display: grid;
    grid-gap: 15px;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* .card {
    font-family: 'Red Hat Display', sans-serif;
    content: "";
    display: table;
    clear: both;
    align-content: center;
} */

/* #skills {
    background-color: darkgray;
    font-family: 'Red Hat Display', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
} */

#resume {
    background-color: darkgray;
    font-family: 'Red Hat Display', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.resume {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 25px;
    width: 40%;
    height: 40%; 
}

#contact-me {
    background-color: lightgray;
    font-family: 'Red Hat Display', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    /* padding-left: 5%;
    padding-right: 5%; */
    
}

.footer {
    font-family: 'Red Hat Display', sans-serif;
    background-color: darkgray;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 5px;
    /* line-height: 50px; */
}

label {
    width: 250px;
    line-height: normal;
}

@media only screen and (max-width: 500px) {
    .row {
        font-family: 'Red Hat Display', sans-serif;
        content: "";
        display: table;
        clear: both;
        flex-direction: column;
        align-items: center;
    }

    .resume {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 80%; 
        padding-top: 25px;
        padding-bottom: 15px;
    }
}